* {
	margin: 0px;
	padding: 0px;
}

section {
	padding: 50px 100px;
	background: black;
}

section h2 {
	font-size: 5em;
	color: white;
}

section p {
	font-size: 2em;
	line-height: 1.6;
	margin: 20px auto;
	color: white;
}

::-webkit-scrollbar {
	width: 0px;
}

#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 15px;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
}

#progressBar {
	position: fixed;
	top: 0;
	right: 0;
	width: 15px;
	height: 0%;
	background: linear-gradient(to top, red, blue);

	animation: animate 2s linear infinite;
}

@keyframes animate {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

#progressBar:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, red, blue);
	filter: blur(10px);
}

#progressBar:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, red, blue);
	filter: blur(10px);
}


